html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: blue;
  text-decoration: underline;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
}

form {
 display: flex;
 flex-direction: column;
}

.divider {
  width: 100px;
  size: 150px;
}

span {
  font-weight: bold;
  font-size: xx-large;
  margin: 0px 0px;
  padding: 0px 0px;

}

.stockSpan {
  /* color:#aa06f9; */
  color: #7B06BF;
}

.etfSpan {
  color: #49BF06;
}

ul {
  margin: 1rem 0rem;
  padding: 0rem 1.6rem;
}