.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.mainGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  margin: .12rem 0rem;
}

.h2 {
  margin: 0rem 0rem .5rem 0rem;
  font-weight: 400;
}

/* ---------------------------------------------------------- */
/* TABLE STYLES */

.table {
  border: 1px solid rgb(214, 206, 206);
  border-collapse: collapse;
  /* position: relative; */
  width: 100%;
}

.tHead {
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
}

.stockHead {
  background-color: #dad9d0f5;
}

.th {
  border: 8px solid white;
}

.td {
  border-bottom: 1px solid rgba(0, 0, 255, 0.096);
  border-right: 1px solid rgba(0, 128, 0, 0.151);
  padding: 0.5rem;
  line-height: 1.1rem;
}

.td a {
  line-height: normal;
}

.isParagraph p {
  width: 14rem;
  padding: 0px 0px;
  margin: 0px 0px;
}

.emptyHead {
  background-color: #dad9d0f5;
}

.etfHead {
  /* background-color: #012057f5; */
  background-color: #223392;
}

.etfSpan {
  /* color: #f8c56c; */
  color: #ffdba4;
}

.mfHead {
  /* background-color: #573801 */
  background-color: #abd1ff;
}

.mfSpan {
  color: #e54b22;
}

.stockHead {
  /* background-color: #A502FD; */
  background-color: #ffcb3b;
}

.stockSpan {
  color: #02248b;
}

/* ----------------------------------------- */
.refList {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.refList li {
  margin: .2rem 1rem;
  padding: 0.1rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.refBox {
  /* width: 1.1rem;
  height: 1.1rem; */
  display: inline-block;
  padding: .5rem .5rem;
  margin: 0rem .1rem;
}

.refEtf {
  background-color: #223392;
}

.refMf {
  background-color: #abd1ff;
}

.refStock {
  background-color: #ffcb3b;
}


/* ----------------------------------------- */


.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rowTitle {
  font-size: smaller;
}

.topAlign {
  vertical-align: top;
}

@media (max-width: 700px) {
  .mainGrid{
    font-size: small;
  }
  .grid {
    width: 100%;
    flex-direction: row;
  }
  .table {
    font-size: x-small;
  }
}
/* --------------------------------------- */

.form input[type='text'] {
  margin: 0.2rem .2rem;
  border-radius: 5px;
  font-size: normal;
  text-align: center;
}

.form input[type='text'],
.form input[type="submit"]{
  padding: .5rem .2rem;
}


/* --------------------------------------- */
/* DROPDOWN */

.dropdownContainer {
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  margin: 0;
  padding: 0;
  list-style: none;
  font-variant: normal;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  /* font-size: 14px; */
}

.dropdown {
  overflow: auto;
  transform: translateZ(0px);
}

.suggestionsList {
  outline: none;
  margin-top: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: .1em;
  margin-inline-end: .1em;
  padding-inline-start: .3em;
  list-style: none;
  max-height: 18rem;
  max-width: 20rem;
  overflow: auto;
}

.suggestionsList:first-child{
  border-radius: 4px 4px 0 0;
}

.dropdownItem {
  /* white-space: nowrap; */
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background .3s ease;
}

.activeSuggestion {
  background-color: #e6f7ff;
}

.container {
  display: flex;
}

.span {
  font-weight: bold;
  margin: 0px 0px;
  padding: 0px 0px;
}

.tickerAndBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button, 
.form input[type="submit"] {
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgb(187, 186, 186);
  margin: 0.1rem 0rem;
  outline: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.976);
}

.headerBtn {
  font-size: xx-small;
  margin: 0.1rem 0.1rem;
}

.form input[type="submit"]:hover, 
.button:hover {
  box-shadow: 0px 4px 4px rgb(151, 151, 151);
}

