.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.mainGrid {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: baseline;
}

.h1 {
  margin: .12rem 0rem;
}

/* ---------------------------------------------------------- */
/* TABLE STYLES */

.table {
  border: 1px solid rgb(214, 206, 206);
  border-collapse: collapse;
  /* position: relative; */
  width: 100%;
}

.tHead {
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
}

.stockHead {
  background-color: #dad9d0f5;
}

.etfHead {
  background-color: #012057f5;
}

.th {
  border: 8px solid white;
}

.td {
  border-bottom: 1px solid rgba(0, 0, 255, 0.096);
  border-right: 1px solid rgba(0, 128, 0, 0.151);
  padding: 0.5rem;
  line-height: 1.1rem;
}

.td a {
  line-height: normal;
}

.isParagraph p {
  width: 14rem;
  padding: 0px 0px;
  margin: 0px 0px;
}

.etfSpan {
  /* color: #00ddff; */
  color: #f8c56c;
}

.stockSpan {
  color: #9007df;
}

.mfSpan {
  color: red;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rowTitle {
  /* position: sticky;
  left: 0; */
  /* background-color: whitesmoke; */
  font-size: smaller;
}

.topAlign {
  vertical-align: top;
}

@media (max-width: 700px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .table {
    font-size: x-small;
  }
}
/* --------------------------------------- */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input[type='text'] {
  margin: 0.2rem 0rem;
  padding: 0.2rem 1.5rem;
  border-radius: 5px;
  font-size: large;
}

/* --------------------------------------- */
/* DROPDOWN */

.dropdownContainer {
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  margin: 0;
  padding: 0;
  list-style: none;
  font-variant: normal;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  border-radius: 4px;
  box-sizing: border-box;
  /* z-index: 1050; */
  outline: none;
  /* font-size: 14px; */
}

.dropdown {
  overflow: auto;
  transform: translateZ(0px);
}

.suggestionsList {
  outline: none;
  margin-top: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  padding-inline-start: 40px;
  list-style: none;
  max-height: 18rem;
  overflow: auto;
}

.suggestionsList:first-child{
  border-radius: 4px 4px 0 0;
}

.dropdownItem {
  /* white-space: nowrap; */
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background .3s ease;
}

.activeSuggestion {
  background-color: #e6f7ff;
}

/* .suggestions {
  border: 1px solid red;
}

.suggestions li {
  padding: 0.5rem;
}

.activeSuggestion, 
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type){
  border-bottom: 1px solid #999;
}

.activeSuggestion {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.inactiveSuggestion {
  color: #999;
  padding: 0.5rem;
} */
/* --------------------------------------- */

.container {
  display: flex;
}

.span {
  font-weight: bold;
  margin: 0px 0px;
  padding: 0px 0px;
}

.tickerAndBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgb(187, 186, 186);
  margin: 0.1rem 0rem;
  outline: none;
  color: black;
  background-color: white;
}

.headerBtn {
  font-size: xx-small;
  margin: 0.1rem 0.1rem;
}

.button:hover {
  box-shadow: 0px 4px 4px rgb(151, 151, 151);
}

